.tool {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    width: 75%;
    margin: 0 auto;
}

input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(21, 8, 216);
    width: 75%;
    margin: 0 auto;
}