<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QPBCTT7P8J"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-QPBCTT7P8J');
</script>
<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/shop/styles.css">
<header id="header">
    <nav>
        <a href="/"><img src="/images/minecraft/shoplogo.png" alt="Crafty Playz Logo"></a>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <ul class="nav-links">
            <li><a href="/shop">Home</a></li>
            <li><a href="/shop/books.html">Enchanted Books</a></li>
            <li><a href="/shop/upcoming">Upcoming</a></li>
            <li><a href="/shop/requests">Special requests</a></li>
            <li><a href="/shop/casino">Casino (Coming Soon)</a></li>
        </ul>
    </nav>
</header>
